@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Colors */
@theme {
    --color-base: #fad4d4;
    --color-base-muted: #fff4e6;

    --color-foreground: #4a4a4a;
    --color-foreground-muted: #6b6b6b;

    --color-primary: #fad4d4;
    --color-primary-foreground: #4a4a4a;

    --color-secondary: #e6d1f0;
    --color-secondary-foreground: #4a4a4a;

    --color-accent: #a8e6cf;
    --color-accent-foreground: #2f5d50;

    --color-soft: #ffd1dc;

    --color-border: #e6d1f0;
    --color-ring: #a8e6cf;
}

/* Fonts */
@theme {
    --font-display: "Fredericka the Great", sans-serif;
    --font-body: "Fauna One", sans-serif;
}

@layer base {
    h1 {
        @apply text-primary-foreground text-5xl font-display;
    }

    h2 {
        @apply text-primary-foreground text-3xl font-display;
    }

    body {
        @apply font-body;
    }

    a {
        @apply hover:text-primary-foreground/50 underline;
    }

    .btn,
    ul > li > a,
    nav > a,
    article > a {
        @apply no-underline;
    }

    tr {
        @apply not-last:border-b border-border;
        @apply hover:bg-base-muted;
        @apply transition-all duration-200;
        @apply h-10;
    }

    hr {
        @apply border;
        @apply my-4;
    }
}

@layer components {
    .window {
        @apply border border-border bg-base-muted shadow-lg;
        @apply transition-all duration-200;
        @apply h-full;
    }

    .window-titlebar {
        @apply flex items-center justify-between;
        @apply px-4 py-1;
        @apply text-foreground;
        @apply border-b border-border;
    }

    .window-title {
        @apply text-xs font-semibold select-none;
    }

    .window-close {
        @apply h-5 w-5 text-xs;
        @apply flex items-center justify-center;
        @apply bg-soft hover:bg-accent;
        @apply transition-colors;
    }

    .window-content {
        @apply p-4 text-foreground;
        @apply flex flex-col h-full;
    }

    .badge {
        @apply bg-accent border-accent-foreground;
        @apply text-accent-foreground text-xs no-underline;
        @apply py-1 px-2 rounded-md;
        @apply w-max;
    }

    /* Additional style for badge, overriding colros */
    .badge-date {
        @apply bg-secondary border-secondary-foreground;
        @apply text-primary-foreground;
    }

    .btn {
        @apply bg-accent text-accent-foreground;
        @apply py-2 px-4 rounded-md;
        @apply w-max mx-auto;
        @apply flex items-center gap-2;
        @apply hover:bg-accent-foreground hover:text-accent duration-300;
    }

    .menu {
        @apply p-2 rounded-md;
        @apply flex items-center gap-2;
        @apply focus:outline-none focus:ring-2 focus:ring-accent-foreground focus:ring-offset-2;
    }
}
