---
import Window from "../Window.astro";
---

<Window title="intro.txt" width={2}>
    <h2>Intro</h2>
    <p>
        Hiyaa 👋 I'm <strong>Iserila</strong>!
    </p>
    <p class="mt-2">
        I like cute things, cats, pink colors, and tinkering with code, even if
        most of my projects remain forever unfinished. This site is the rare
        exception (✿◠‿◠)
    </p>
    <p class="text-primary-foreground/75 text-xs italic mt-2">
        Though, can a personal website ever be finished..?
    </p>
</Window>
