---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Friends from "../components/Friends.astro";
import Fanlistings from "../components/Fanlistings.astro";
import Buttons from "../components/Buttons.astro";
import MyButton from "../components/MyButton.astro";
import Links from "../components/Links.astro";
import About from "../components/About.astro";
---

<Layout title="Home">
	<h1 class="mt-4">Hiyaa, welcome!</h1>
	<div class="grid grid-cols-3 gap-4">
		<About />
		<Friends />
		<Fanlistings />
		<Buttons />
		<MyButton />
		<Links />
	</div>
</Layout>
