---
import Menu from "./atoms/Menu.astro";
import MobileNavigation from "./atoms/MobileNavigation.astro";
import Navigation from "./atoms/Navigation.astro";
---

<header class="flex justify-between items-center py-4">
    <div><a href="/" class="no-underline">Iserila 🌸</a></div>
    <div>
        <Menu />
        <Navigation />
        <MobileNavigation />
    </div>
</header>
